@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: $color_black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin backGround($url)   {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    @include flex();
    justify-content: center;
    height: 100vh;
    font-family: 'Noto Sans KR', sans-serif;;
}

.wrap {
    width: 1280px;
    border: $border_color_black;
}

.main_tabbtn_list {
    @include flex();

    & > li {
        margin-right: 15px;

        & > button {
            margin-bottom: 30px;
            padding: 10px 15px;
            border-radius: 30px;
            color: $color_black;
            background-color: $color_gray;
            font-size: 14px;
            font-weight: 400;
        }
    }
}

.sub_tabbtn {
    @include flex();
    justify-content: space-between;
    margin-bottom: 30px;
}

.sub_tabbtn_list {
    @include flex();

    & > li {
        position: relative;
        margin-right: 25px;
        font-size: 14px;

        &:first-of-type::after, &:nth-of-type(2)::after {
            content:'';
            position: absolute;
            top: 50%;
            right: -12.5px;
            display: block;
            width: 1px;
            height: 12px;
            background-color: $color_whitegray;
            transform: translateY(-50%);
        }

        &:first-of-type {
            font-weight: 500;
        }
    }
}

.tab_content_wrap {
    @include flex();
}

.left_content_wrap {
    @include backGround(url('../images/content_image01.jpg'));
    position: relative;
    width: 800px;
    height: 800px;
    padding: $border_radius_medium;
    border-radius: $border_radius_small;
}

.left_text_box {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    & > h3 {
        @include flex();
        margin-bottom: 10px;
        font-size: 40px;
        font-weight: 700;
        white-space: nowrap;
    }

    & > p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }

}

.right_content_wrap {
    width: calc(100% - 810px);
    height: 800px;
    margin-left: 20px;
}

.right_top_content {
    @include backGround(url('../images/content_image02.jpg'));
    position: relative;
    height: calc(50% - 10px);
    margin-bottom: 20px;
    padding: $border_radius_medium;
}

.right_bottom_content {
    @include backGround(url('../images/content_image03.jpg'));
    position: relative;
    height: calc(50% - 10px);
    padding: $border_radius_medium;

    & > .right_text_box {

        & > p {
            font-size: 14px;
        }

    }
}

.right_text_box {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    & > h3 {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 10px;
    }

    & > p {
        font-size: 17px;
        font-weight: 300;
        text-align: center;
    }

}
