.badge {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: $border_radius_small;
    background-color: $color_black;
    color: $color_white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.active_btn {
    color: $color_white !important;
    background-color: $color_orange !important;
    font-weight: 500 !important;
}