// border
$border_color_black: 1px solid #000;

// border-radius
$border_radius_small: 10px;
$border_radius_medium: 20px;

// padding
$padding_small: 10px;

// color
$color_black: #000;
$color_white: #fff;
$color_orange: #f47726;
$color_gray: #f5f6f7;
$color_darkgray: #999;
$color_whitegray: #ccc;