@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
}

.wrap {
  width: 1280px;
  border: 1px solid #000;
}

.main_tabbtn_list {
  display: flex;
  align-items: center;
}
.main_tabbtn_list > li {
  margin-right: 15px;
}
.main_tabbtn_list > li > button {
  margin-bottom: 30px;
  padding: 10px 15px;
  border-radius: 30px;
  color: #000;
  background-color: #f5f6f7;
  font-size: 14px;
  font-weight: 400;
}

.sub_tabbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.sub_tabbtn_list {
  display: flex;
  align-items: center;
}
.sub_tabbtn_list > li {
  position: relative;
  margin-right: 25px;
  font-size: 14px;
}
.sub_tabbtn_list > li:first-of-type::after, .sub_tabbtn_list > li:nth-of-type(2)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12.5px;
  display: block;
  width: 1px;
  height: 12px;
  background-color: #ccc;
  transform: translateY(-50%);
}
.sub_tabbtn_list > li:first-of-type {
  font-weight: 500;
}

.tab_content_wrap {
  display: flex;
  align-items: center;
}

.left_content_wrap {
  background-image: url("../images/content_image01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 800px;
  height: 800px;
  padding: 20px;
  border-radius: 10px;
}

.left_text_box {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}
.left_text_box > h3 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  white-space: nowrap;
}
.left_text_box > p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.right_content_wrap {
  width: calc(100% - 810px);
  height: 800px;
  margin-left: 20px;
}

.right_top_content {
  background-image: url("../images/content_image02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 20px;
}

.right_bottom_content {
  background-image: url("../images/content_image03.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: calc(50% - 10px);
  padding: 20px;
}
.right_bottom_content > .right_text_box > p {
  font-size: 14px;
}

.right_text_box {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.right_text_box > h3 {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10px;
}
.right_text_box > p {
  font-size: 17px;
  font-weight: 300;
  text-align: center;
}

.badge {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.active_btn {
  color: #fff !important;
  background-color: #f47726 !important;
  font-weight: 500 !important;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.all_view {
  margin-right: 20px;
}
.all_view > a {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: #999;
}
.all_view > a::after {
  content: "";
  background-image: url("../images/right_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  right: -18px;
  width: 8px;
  height: 14px;
  transform: translateY(-50%);
}