@charset "utf-8";

@import './variable.scss';
@import './common.scss';
@import './component.scss';


h2 {
    margin-bottom: 30px;
    font-size: 30px;
}

.all_view {
    margin-right: 20px;

    & > a {
        position: relative;
        font-size: 14px;
        font-weight: 500;
        color: $color_darkgray;

        &::after {
            content: '';
            @include backGround(url('../images/right_arrow.png'));
            position: absolute;
            top: 50%;
            right: -18px;
            width: 8px;
            height: 14px;
            transform: translateY(-50%);
        }
    
    }
    
}
